.matchWrapper {
    -fx-background-color: lightblue;
    -fx-cursor: hand;
}

.employeeName {
    -fx-font-size: 22px;
    -fx-alignment: center; /* centers content within the Label */
}

.employeeDetails {
    -fx-padding: 10 0 0 10;
}